.hero form {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 1rem;
}
@media screen and (max-width: 48em) {
	.hero form {
		gap: 0.5rem;
	}
}

.hero form input {
	background: #000b;
	color: #fff;
	border: none;

	transition: background 0.2s;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font: inherit;
}

.hero form input[type="text"] {
	width: min(100%, 45ch);
}
.hero form input[type="text"]:focus,
.hero form input[type="submit"]:hover {
	background: #000;
	outline: none;
}
.hero form input[type="submit"] {
	cursor: pointer;
}
.hero form input[type="submit"]:active {
	background: #111;
}

.section-header {
	scroll-padding-top: 4rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.section-header h2 {
	font-size: 3rem;
	margin: 0;
	padding: 0;
	text-align: center;
}

.steps {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	align-items: center;
}
.steps .text {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 2rem;
	padding-left: 4rem;
	text-align: right;
}
.steps .text h3 {
	font-size: 2rem;
	margin: 0 0 0.5rem 0;
}
.steps .text a {
	color: #fff;
	text-decoration: none;
	transition: border 0.2s, opacity 0.2s;
	border-bottom: 1px solid #fff;
}
.steps .text a:hover {
	border-bottom: 1px solid transparent;
	opacity: 0.8;
}
.steps .text.right {
	grid-column: 2 / 3;
	padding-left: 2rem;
	padding-right: 4rem;
	text-align: left;
}
.steps .text.right + .image {
	grid-row: 2 / 3;
}
.steps .image {
	overflow: hidden;
	width: 100%;
	height: 20rem;
	position: relative;
	border-radius: 1rem;
}
.steps .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@media screen and (max-width: 48em) {
	.steps {
		grid-template-columns: repeat(1, minmax(200px, 1fr));
	}
	.steps .text {
		text-align: left;
		padding-left: 0;
		padding-right: 0;
	}
	.steps .text.right {
		grid-column: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.steps .image {
		margin-bottom: 1rem;
		height: 12rem;
	}
	.steps .text.right + .image {
		grid-row: auto;
	}
}

.carousel {
	--current-slide: 0;
	position: relative;
	overflow: hidden;
	min-height: 8rem;
	border-radius: 1rem;
}

.carousel-button {
	position: absolute;
	top: 50%;
	left: 0.2rem;
	transform: translateY(-50%);
	z-index: 1;

	width: 2rem;
	height: 2rem;

	padding: 0;
	background-color: transparent;
	border: none;
	color: white;

	cursor: pointer;

	transition: opacity 0.1s;
	opacity: 1;
}

.carousel-button:hover {
	opacity: 0.8;
}

.carousel-button::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

	width: 1rem;
	height: 1rem;
	border-radius: 0.2rem;
	border-bottom: 0.2rem solid white;
	border-left: 0.2rem solid white;
	background-color: transparent;
	transition: transform 0.1s;
}

.carousel-button:hover::before {
	transform: translate(-50%, -50%) translateX(-0.2rem) rotate(45deg);
}

.carousel-button-next {
	left: auto;
	right: 0.2rem;
}
.carousel-button-next::before {
	transform: translate(-50%, -50%) rotate(225deg);
}
.carousel-button-next:hover::before {
	transform: translate(-50%, -50%) translateX(0.2rem) rotate(225deg);
}

.slides {
	display: flex;
	transition: transform 0.5s;
	transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
	--bg-opacity: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.2) 0%,
		rgba(0, 0, 0, 0.2) 100%
	);

	flex: 0 0 100%;
	padding: 6rem 4rem;
	overflow: hidden;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	display: flex;
	gap: 1rem;
}

.slide:nth-child(1) {
	background-image: var(--bg-opacity), url("./img/bg/daniel.webp");
}
.slide:nth-child(2) {
	background-image: var(--bg-opacity), url("./img/bg/dhruv.jpg");
}
.slide:nth-child(3) {
	background-image: var(--bg-opacity), url("./img/bg/allison.jpg");
}
.slide:nth-child(4) {
	background-image: var(--bg-opacity), url("./img/bg/mei.jpg");
}
.slide:nth-child(5) {
	background-image: var(--bg-opacity), url("./img/bg/ryland.webp");
}
.slide:nth-child(6) {
	background-image: var(--bg-opacity), url("./img/bg/george.jpeg");
}
.slide:nth-child(7) {
	background-image: var(--bg-opacity), url("./img/bg/raj.jpg");
}

.slide .description {
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.slide h2 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
}
.slide .role {
	font-style: italic;
	margin-bottom: 0.5rem;
}
.slide .links {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0.5rem;
}
.slide .links img {
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
	padding: 0.2rem;
	border-radius: 100px;
	background: #fff;
	transition: background 0.2s;
}
.slide .links img:hover {
	background: #fffb;
}

.slide .image img {
	width: 16rem;
	height: 16rem;
	object-fit: cover;
	border-radius: 1rem;
}

@media screen and (max-width: 48em) {
	.slide {
		padding: 4rem 2rem;
		flex-direction: column;
		gap: 0.5rem;
	}

	.slide p {
		font-size: 1rem;
	}

	.slide .image img {
		width: 8rem;
		height: 8rem;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
	gap: 0.5rem;
	z-index: 9999;
}

.carousel-tip {
	width: 3rem;
	height: 0.2rem;
	cursor: pointer;
	border: none;
	background-color: #fff8;
	border-radius: 100px;
	transition: background 0.2s;
}
.carousel-tip:hover {
	background-color: #fff;
}
.carousel-tip.active {
	background-color: #fff;
}

@media screen and (min-width: 768px) {
	.carousel-button {
		font-size: 2rem;
	}
}

footer {
	margin-top: 2rem;
	padding: 2rem 0;
	background: #080808;
	color: #eee;
}
footer .constrain {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
}

footer .links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
footer .links a {
	width: 2rem;
	height: 2rem;
	padding: 0.2rem;
	display: block;
	border-radius: 100px;
	background-color: #fff;
	transition: background 0.2s;
}
footer .links a img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
footer .links a:hover {
	background-color: #fffb;
}
