@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Outfit:wght@500;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Outfit, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	background: rgb(17, 17, 19);
	color: #fff;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
}

/* LAYOUT ***********/

nav {
	position: sticky;
	top: 0;
	z-index: 10;
	padding: 1rem 0;
	background: #000;
	color: #fff;
}

nav .constrain {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav img {
	height: 3rem;
	width: auto;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul a {
	margin-left: 1rem;
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
	transition: border 0.3s;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}

nav ul a:hover {
	border-bottom: 1px solid white;
}

.hero,
.banner {
	background: #000;
	backdrop-filter: blur(10px);
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 2rem;
	overflow: hidden;
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.banner {
	min-height: 0;
}

.hero-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("./img/bg.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	z-index: -1;
	opacity: 0.8;
	user-select: none;
}

.hero-box {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
}

.hero-box .left {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hero-box .left h1 {
	margin: 0 0 0.5rem 0;
	padding: 0;
	font-size: 3rem;
	line-height: 1;
}
.hero-box .left p {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	font-weight: normal;
}
.hero-box .left a {
	margin: 1rem 0 0 0;
	padding: 0.5rem 1rem;
	font: inherit;
	font-size: 1.5rem;
	font-weight: normal;
	color: #fff;
	background: #000;
	text-decoration: none;
	width: fit-content;
	font-size: 1.2rem;
	transition: background 0.2s;
	border-radius: 0.5rem;
}
.hero-box .left a:hover {
	background: #111;
}
.hero-box .left a:active {
	background: #111;
}

.hero-box .right img {
	width: 16rem;
	height: 16rem;
	object-fit: cover;
	border-radius: 1000px;
}

@media (max-width: 48em) {
	.hero-box .left h1 {
		font-size: 2.5rem;
	}
	.hero-box .left p {
		font-size: 1rem;
	}
	.hero-box .left a {
		font-size: 1.5rem;
	}
	.hero-box .right img {
		width: 12rem;
		height: 12rem;
	}
}

.area {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

@media screen and (max-width: 48em) {
	.area {
		flex-direction: column;
	}
}

.area > * {
	flex: 1;
	margin: 0 0 1rem 0;
}

h2 {
	margin: 1rem 0 0 0;
}

.prompt,
pre.output {
	width: 100%;
	border: none;
	resize: vertical;
	font-family: Outfit, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	background: #000;
	color: #fff;
	margin-top: 0.5rem;
	padding: 1rem;
	font-size: 1.2rem;
	transition: border 0.2s;
	border: 1px solid #000;
	border-radius: 0.5rem;
	white-space: pre-wrap;
}

.prompt:focus {
	outline: none;
	border: 1px solid #fff4;
}

p.range {
	margin: 0.5rem 0;
}
p.range label {
	display: block;
}
p.range input {
	appearance: none;
	width: 100%;
	height: 0.5rem;
	background: #333;
	opacity: 0.7;
	transition: opacity 0.2s;
	border-radius: 100px;
	border: 1px solid transparent;
}
p.range input:hover {
	opacity: 1;
}
p.range input:focus-visible {
	outline: none;
	border: 1px solid #fff4;
}
p.range input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1rem;
	height: 1rem;
	background: #fff;
	border-radius: 100px;
	cursor: pointer;
}
p.range input::-moz-range-thumb {
	width: 1rem;
	height: 1rem;
	background: #fff;
	border-radius: 100px;
	cursor: pointer;
}

.generate {
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
	border: none;
	background: #000;
	color: #fff;
	font-family: Outfit, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	font-size: 1.2rem;
	transition: border 0.2s, background 0.2s;
	border: 1px solid #000;
	border-radius: 0.5rem;
	cursor: pointer;
}

.generate:hover {
	border: 1px solid #fff4;
}

.generate:active {
	background: #111;
}

h2 {
	font-size: 2rem;
	margin: 1rem 0 0 0;
}

p {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
}

.constrain {
	width: min(calc(100% - 4rem), 1140px);
	margin: 0 auto;
}

.col {
	flex: 1;
	margin: 0 0 1rem 0;
}
